PORT=3001
ALLOWED_ORIGIN=https://www.biovetfarma.com.br

SMTP_HOST=smtp.seuprovedor.com.br
SMTP_PORT=587
SMTP_USER=noreply@biovetfarma.com.br
SMTP_PASS=senha_do_email
ADMIN_EMAIL=admin@biovetfarma.com.br

FIREBASE_SERVICE_ACCOUNT=./firebase-service-account.json
